[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/manuel-gamero
[access "refs/for/refs/*"]
	read = group user/manuel-gamero
	push = group user/manuel-gamero
	label-Code-Review = -2..+2 group user/manuel-gamero
	label-Verified = -1..+1 group user/manuel-gamero
	rebase = group user/manuel-gamero
	removeReviewer = group user/manuel-gamero
	submit = group user/manuel-gamero
[access "refs/heads/*"]
	read = group user/manuel-gamero
	create = group user/manuel-gamero
	push = +force group user/manuel-gamero
	pushMerge = group user/manuel-gamero
[access "refs/tags/*"]
	push = group user/manuel-gamero
	push = +force group user/manuel-gamero
